PORT=5000


//posgresSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_Appdoan
DB_USER=postgres
DB_PASSWORD=1234

# JWT Configuration
JWT_SECRET=antigravity_secret_key_2026_@#!
JWT_EXPIRE=15m
JWT_REFRESH_SECRET=antigravity_refresh_secret_key_2026_$%^
JWT_REFRESH_EXPIRE=7d